<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Create new Session</title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

    <main>
        <div class="h1-container margin-1">
            <h1>Start a new session</h1>
        </div>
        <div class="form-container">
            <form action="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/trsessions" method="POST">
                <div class="form-contents">
                    <label for="createdDate">Date:</label>
                    <input type="date" id="createdDate" name="createdDate" required>
                </div>
                <div id="div-set">
                    <div>
                        <h2 class="margin-1">Set 1</h2>
                        <div class="form-contents margin-1">
                            <div>
                                <label for="repetitions">Repetitions</label>
                                <input type="number" step="0.01" min="0" id="repetitions" name="weights[0][repetitions]"
                                    required autofocus>
                            </div>
                            <div>
                                <label for="kilograms">Kilograms</label>
                                <input type="number" step="0.01" min="0" id="kilograms" name="weights[0][kilograms]"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-row margin-1">
                    <div class="link-container">
                        <button class="link" type="button" id="delete-set">Delete Set</button>
                    </div>
                    <div class="link-container">
                        <button class="link" type="button" id="add-set">Add Set</button>
                    </div>
                </div>
                <div class="flex-row margin-1">
                    <div class="link-container">
                        <a class="link"
                            href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>">Cancel</a>
                    </div>
                    <div class="link-container">
                        <button class="button">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script src="/javascripts/addSets.js"></script>
    <script src="/javascripts/defaultDate.js"></script>
</body>

</html>