<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title><%= exercise.slugExercise %> | <%= trsession.slugSession %></title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

    <%- include('../partials/flash.ejs') %>

    <main>
        <div class="link-container">
            <a class="link-top" href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %> "><span
                    class='arrow'>&#8592;</span>
                Back to Sessions</a>
        </div>
        <div class="flex-row">
            <div class="h1-container">
                <% if (trsession.createdDateRen.toLocaleDateString()) { %>
                <h1><%= trsession.createdDateRen.toLocaleDateString() %></h1>
                <% } else { %>
                <h1><%= trsession.createdDate.toLocaleDateString() %></h1>
                <% } %>
            </div>
            <% if(currentUser && trsession.author.equals(currentUser._id)) { %>
            <div class="link-container">
                <button class="button-svg" title="Edit or Delete">
                    <svg id="dots" viewBox="0 0 212 64" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0Zm74 0a32 32 0 0 0-32 32 32 32 0 0 0 32 32 32 32 0 0 0 32-32 32 32 0 0 0-32-32Zm74 0a32 32 0 0 0-32 32 32 32 0 0 0 32 32 32 32 0 0 0 32-32 32 32 0 0 0-32-32Z" />
                    </svg>
                </button>
                <div class="h1-contents">
                    <div class="toggle-container">
                        <ul>
                            <a
                                href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/trsessions/<%= trsession.slugSession %>/edit">
                                <li>Edit</li>
                            </a>
                            <form
                                action="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/trsessions/<%= trsession.slugSession %>?_method=DELETE"
                                method="POST">
                                <button id="deleteLog">
                                    <li>Delete</li>
                                </button>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <hr />
        <div class="flex-row margin-2">
            <div class="h2-container">
                <h2><%= exercise.title %></h2>
            </div>
        </div>
        <div class="flex-row-table">
            <a class="table-a table-container">
                <table>
                    <tr>
                        <td colspan="3" scope="col">
                            Total Volume
                        </td>
                        <th colspan="1" scope="col">
                            <%= trsession.totalVolume %>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            reps
                        </td>
                        <td>
                            kgs
                        </td>
                        <td>
                            volume
                        </td>
                    </tr>
                    <% for (let [index, set] of trsession.weights.entries()){%>
                    <tr>
                        <td scope="row">Set <%=index + 1%></td>
                        <th><%=set.repetitions%></th>
                        <th><%=set.kilograms%></th>
                        <th><%=set.volume.toFixed(2)%></th>
                    </tr>
                    <% } %>
                </table>
            </a>
        </div>
    </main>
    <script src="/javascripts/confirmDelete.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>