<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <title><%= exercise.title %></title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

    <%- include('../partials/flash.ejs') %>

    <main>
        <div class="link-container">
            <a class="link-top" href="/logs/<%= log.slugLog %>"><span class='arrow'>&#8592;</span>Back to Exercises</a>
        </div>
        <div class="flex-row">
            <div class="h1-container">
                <h1><%= exercise.title %></h1>
            </div>
            <% if(currentUser && exercise.author.equals(currentUser._id)) { %>
            <div class="link-container">
                <button class="button-svg" title="Edit or Delete">
                    <svg id="dots" viewBox="0 0 212 64" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M32 0A32 32 0 0 0 0 32a32 32 0 0 0 32 32 32 32 0 0 0 32-32A32 32 0 0 0 32 0Zm74 0a32 32 0 0 0-32 32 32 32 0 0 0 32 32 32 32 0 0 0 32-32 32 32 0 0 0-32-32Zm74 0a32 32 0 0 0-32 32 32 32 0 0 0 32 32 32 32 0 0 0 32-32 32 32 0 0 0-32-32Z" />
                    </svg>
                </button>
                <div class="h1-contents">
                    <div class="toggle-container">
                        <ul>
                            <a href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/edit">
                                <li>Edit</li>
                            </a>

                            <form
                                action="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>?_method=DELETE"
                                method="POST">
                                <button id="deleteLog">
                                    <li>Delete</li>
                                </button>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <hr />
        <div class="flex-row margin-2">
            <div class="h2-container">
                <h2>Sessions</h2>
            </div>
            <div class="link-container">
                <a href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/trsessions/new"
                    title="Create New">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="cross-h2">
                        <path d="M40 40h24V25H40V0H25v25H0v15h25v24h15z" />
                    </svg>
                </a>
            </div>
        </div>

        <%- include('../partials/paginateTrsessions') %>

        <div class="flex-row-table">
            <% for (let exerciseItem of exerciseAggregate){%>
            <% if(currentUser && exerciseItem.trsessions.author.equals(currentUser._id)) { %>
            <a class="table-a table-container"
                href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/trsessions/<%= exerciseItem.trsessions.slugSession %>">
                <table>
                    <tr>
                        <th colspan="4" scope="col">
                            <%= exerciseItem.trsessions.createdDate.toLocaleDateString() %>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3" scope="col">
                            Total Volume
                        </td>
                        <!-- const result = exerciseItem.trsessions.weights.map((a) => a.volume); 
                         const totalVolume = result.reduce((acc, cur) => acc + cur, 0);  -->
                        <th colspan="1" scope="col" class="totalVolume"
                            data-totalvolume='<%= exerciseItem.trsessions.totalVolume %>'>
                            <%= exerciseItem.trsessions.totalVolume %>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            Set
                        </td>
                        <td>
                            reps
                        </td>
                        <td>
                            kgs
                        </td>
                        <td>
                            volume
                        </td>
                    </tr>
                    <% for (let [index, set] of exerciseItem.trsessions.weights.entries()){%>
                    <tr>
                        <td><%= index + 1 %></td>
                        <th><%= set.repetitions %></th>
                        <th><%= set.kilograms %></th>
                        <th><%= set.volume %></th>
                    </tr>
                    <% } %>
                </table>
            </a>
            <% } %>
            <% } %>
        </div>
        <div class="barchart margin-2">
        </div>
    </main>
    <script src="/javascripts/confirmDelete.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="/javascripts/graph.js"></script>
</body>

</html>