<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Edit Session</title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

    <main>
        <div class="h1-container margin-1">
            <h1>Edit Session</h1>
        </div>
        <div class="form-container">
            <form
                action="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/sessions/<%= session.slugSession %>?_method=PUT"
                method="POST">
                <div class="form-contents">
                    <div>
                        <label for="createdDate">Date:</label>
                        <input type="date" id="createdDate" name="createdDate">
                    </div>
                    <% for(let [i,set] of session.weights.entries()){%>
                    <div>
                        <h3>
                            Set <%=[i + 1] %>
                        </h3>
                    </div>
                    <div class="flex-row">
                        <div>
                            <label for="repetitions">Reps:</label>
                            <input type="number" id="repetitions" name="weights[<%= [i] %>][repetitions]"
                                value="<%= set.repetitions %>">
                        </div>
                        <div>
                            <label for="kilograms">kgs:</label>
                            <input type="number" id="kilograms" name="weights[<%= [i] %>][kilograms]"
                                value="<%= set.kilograms %>">
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="flex-row margin-1">
                    <div class="link-container">
                        <a class="link"
                            href="/logs/<%= log.slugLog %>/exercises/<%= exercise.slugExercise %>/sessions/<%= session.slugSession %>">Cancel</a>
                    </div>
                    <div class="link-container">
                        <button class="button">Update Session</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script src="/javascripts/defaultDate.js"></script>
</body>

</html>